<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Prueba de parallax
	meta(name="viewport",content="width=device-width")
	link(rel="stylesheet",type="text/css",href="css/style_p.css")
	link(rel="stylesheet",type="text/css",href="css/skeleton.css")
body

	header.bird-box
		.back-bird
		.logo
		.fore-bird

	section.content
		article
			h1 Prueba de parallax
			hr
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
			hr

			.clothes-pics
				.row.img-row
					figure.colums.four
						img(src="images/model1.jpg")
						figcaption Aweater azul - <strong>$123</strong>
					figure.colums.four
						img(src="images/model2.jpg")
						figcaption Aweater azul - <strong>$123</strong>
					figure.colums.four
						img(src="images/model3.jpg")
						figcaption Aweater azul - <strong>$123</strong>
				.row.img-row
					figure.colums.four
						img(src="images/model1.jpg")
						figcaption Aweater azul - <strong>$123</strong>
					figure.colums.four
						img(src="images/model2.jpg")
						figcaption Aweater azul - <strong>$123</strong>
					figure.colums.four
						img(src="images/model3.jpg")
						figcaption Aweater azul - <strong>$123</strong>
				.row.img-row
					figure.colums.four
						img(src="images/model1.jpg")
						figcaption Aweater azul - <strong>$123</strong>
					figure.colums.four
						img(src="images/model2.jpg")
						figcaption Aweater azul - <strong>$123</strong>
					figure.colums.four
						img(src="images/model3.jpg")
						figcaption Aweater azul - <strong>$123</strong>

		article
			h1 Prueba de parallax
			hr
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
			hr
			.large-window
				.window-tint
					.promo-text Texto de promo
						strong <span>Desde</span> 100Bs
						a(href="#").window-cta Shop Now
			h1 Landing elements
			hr
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
			hr
			.blog-posts.row
				.post.colums.four.post-1
					h5 Post Title
					img(src="images/posts/one.jpg")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat est ab adipisci illo consectetur obcaecati, incidunt, nesciunt ad vitae possimus nam inventore esse impedit. Ullam soluta, architecto eligendi sapiente recusandae.
					p: a.button(href="#") Read More
				.post.colums.four.post-2
					h5 Post Title
					img(src="images/posts/two.jpg")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat est ab adipisci illo consectetur obcaecati, incidunt, nesciunt ad vitae possimus nam inventore esse impedit. Ullam soluta, architecto eligendi sapiente recusandae.
					p: a.button(href="#") Read More
				.post.colums.four.post-3
					h5 Post Title
					img(src="images/posts/three.jpg")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat est ab adipisci illo consectetur obcaecati, incidunt, nesciunt ad vitae possimus nam inventore esse impedit. Ullam soluta, architecto eligendi sapiente recusandae.
					p: a.button(href="#") Read More
	footer
		.row.footer-stuff
			.columns.three
				strong FIND US ON
				ul
					li: a(href="") Twitter
					li: a(href="") Facebook
					li: a(href="") Pinterest
					li: a(href="") Instagram

			.columns.three
				strong OTHER SHOPS
				ul
					li: a(href="") Red Robin
					li: a(href="") Emerald Eagle
					li: a(href="") Crimson Crane
					li: a(href="") Auburn Abbot

			.columns.six
				p <strong>Sign Up for the newsletter</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.

			form.row
				.columns.eight
					input.u-full-width(type="email" placeholder="Your Email")
				.columns.four
					input.button-primary(type="submit")
	
	script(src="js/jquery-2.1.3.min.js")
	script(src="js/functions_p.js")

